.section-title {
	font-size: 3em;
	font-weight: bold;
}

.section-content {
	font-size: 1.25em;
}

/* ABOUT */

.about-section {
	margin-top: -5em;
	background-color: #FF7800;
	color: white;
	clip-path: polygon(
	    0 0,
	    100% 0,
	    100% 98%,
	    0 100%
  	);
}

.about-section-container {
	padding-top: 5em;
	padding-bottom: 3em;
}

/* MENU */

.menu-section {
	margin-top: -1em;
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: gray;
}

.menu-section .section-title {
	padding-bottom: .5em;
	color: white;
}

.menu-section-card {
	height: 100%;
	padding: 1em;
	border-radius: 1em;
	background-color: white;
	text-align: center;
}